@keyframes scroll {
    from {
        opacity: 0;
        transform: translateX(-100px);
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}
.scroll {
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}